.birthdaymain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:#d04e4e ;
}

.birthdayCard {
  position: relative;
  width: 450px;
  height: 450px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.birthdayCard:focus {
  /* transform: prspective(2500px) rotate(5deg); */
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}

.birthdayCard:hover .happy {
  visibility: hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 450px;
  height: 450px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2),
    30px 0 50px rgba(0, 0, 0, 0.4);
  transition: 0.6s;
}

.happy {
  font-family: Tahoma, sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  transition: 0.1s;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 450px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
}

p {
  font-family: Georgia, "Times New Roman", Times, serif, "Arial Narrow", Arial,
    sans-serif, cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left: 150px;
  top: 200px;
  color: #333;
}

.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
  outline-color: #333;
  outline-style: dotted;
}

/*  */

.card-front {
  position: relative;
  background-color: #fff0f3;
  width: 450px;
  height: 450px;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15),
    30px 0 50px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.card-front:before {
  content: "";
  position: absolute;
  width: 430px;
  height: 430px;
  background-color: #d04e4e;
  top: 10px;
  left: 10px;
}

.card-inside {
  position: absolute;
  background-color: #fff0f3;
  width: 450px;
  height: 450px;
  z-index: -1;
  left: 0;
  top: 0%;
  padding-left: 65px;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.22),
    100px 20px 100px rgba(0, 0, 0, 0.1);
}

.note {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #fff0f3;
  top: 75px;
  left: 50px;
  color: #333;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.note h1 {
  font-size: 60px;
}

.note:before,
.note:after {
  position: absolute;
  content: "";
  background-color: #ba1c1c;
  width: 40px;
  height: 40px;
}

.note:before {
  transform: rotate(-45deg);
  top: -20px;
  left: 160px;
}

.note:after {
  border-radius: 50%;
  top: -35px;
  left: 145px;
  box-shadow: 30px 0 #ba1c1c;
}

.text-one {
  position: absolute;
  color: #333;
  font-size: 50px;
  top: 50px;
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-one:before,
.text-one:after {
  position: absolute;
  left: 5px;
  text-align: center;
  width: 300px;
}

.text-one:before {
  content: "Valentine's ??";
  top: 65px;
  color: #d04e4e;
}

.heart {
  position: relative;
  background-color: #d04e4e;
  height: 60px;
  width: 60px;
  top: 230px;
  left: 120px;
  transform: rotate(-45deg);
  animation: 0.8s beat infinite;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d04e4e;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
}

.heart:before {
  top: -30px;
  left: 0;
}

.heart:after {
  left: 30px;
  top: 0;
}

.smile {
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: #333;
  z-index: 1;
  border-radius: 0 0 100px 100px;
  top: 255px;
  left: 150px;
  margin-left: 50px;
  overflow: hidden;
}

.smile:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #030202;
  top: 5px;
  left: 5px;
}

.eyes {
  position: absolute;
  border-radius: 50%;
  background-color: #333;
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 230px;
  left: 180px;
  margin-left: 50px;
  box-shadow: -40px 0 #333;
  transform-origin: 50%;
  animation: close 2s infinite;
}

@keyframes close {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes beat {
  0%,
  40%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  25%,
  60% {
    transform: scale(1.1) rotate(-45deg);
  }
}

.yes-btn {
  margin-top: 260px;
  margin-left: 40px;
  border: 1px solid #ba1c1c;
}
.no-btn {
  margin-top: 260px;
  margin-left: 40px;
  border: 1px solid #ba1c1c;
}

.yes-btn:focus {
  box-shadow: none;
}

.no-btn:focus {
  box-shadow: none;
}
